body {
    margin: 0;
    height: 100vh;
    background-color: #181A1B;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 15px 25px;
}

nav > a {
    text-decoration: none;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: inherit;
}

nav > .logo {
    padding-left: 10px;
    margin-right: auto;
}

nav > .about-button {
    margin: 0;
    align-items: left;
    margin-right: 25px;
}

.log-element {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #282933fa;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.log-element h1,
.log-element p {
    margin-left: 10px;
}

.log-element h2 {
    margin-left: 0px;
}

.star {
    width: 20px;
    margin: 0;
    margin-left: 10px;
}

.review {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.review > h1 {
    margin: 0 0 10px 0;
    width: 100%;
}

.review-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.review-header img {
    margin-right: 10px;
}

.review-header h2, .review > h3, .review > p {
    margin: 10px 0;
}

.about-page {
    margin-left: 25px;
    width: 75%;
}

.about-page img {
    width: 20px;
    margin-right: 10px;
}

.about-page a {
    color: #4078c0;
}

/* Media query for larger screens */
@media (min-width: 800px) {
    .about-page {
        width: 70%;
    }
}

/* Media query for very large screens */
@media (min-width: 1200px) {
    .about-page {
        width: 50%;
    }
}